<!-- Crear la View Articles -->
<section data-ng-controller="ArticlesController">
<div data-ng-show="!authentication.user">
    
    <a href="/signin">Identificarse</a>
 </div>
 <div data-ng-show="authentication.user" class="ajuste row">
 <div class="col-xs-12col-sm-6 col-md-6 col-lg-3" style="margin-left:20px;">
 <div class="form-group">
	<h1>Nuevo Artículo</h1>
	</div>
	<!-- El formulario nuevo artículo -->
	<form data-ng-submit="create()" novalidate>
		<div class="form-group">
			<label for="titulo">Titulo</label>
			<div>
				<input type="text" class="form-control" data-ng-model="titulo" id="titulo" placeholder="Titulo" required>
			</div>
		</div>
		<div>
			<label for="contenido">Contenido</label>
			<div class="form-group">
				<textarea data-ng-model="contenido" id="contenido" cols="30" rows="10" placeholder="Contenido" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary">
			<a href="/#!/gestor" class="btn btn-primary"> volver </a>
		</div>
		<!-- El elemento mensaje de error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</div>	
</div>	
</section>